<div class="fixed bg-black/50 top-0 left-0 w-screen h-screen centered">
    <form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()" class="rounded-sm p-4 flex flex-col gap-3 bg-blue-400 relative">
        <span (click)="onCloseModal()" class="w-[18px] h-[18px] absolute top-2 right-2 cursor-pointer">
            <img src="../../../assets/svgs/close.svg" alt="close-cross" class="w-full h-full" />
        </span>
        <div class="w-full">
            <label for="exerciseName" class="mb-2">Nombre:</label>
            <input [formControlName]="'name'" type="text" name="exerciseName" class="w-full" />
        </div>
        <div class="w-full">
            <label for="series" class="mb-2">Número de series:</label>
            <input [formControlName]="'series'" type="number" name="series" class="w-full" />
        </div>
        <button type="submit">Guardar</button>
    </form>
</div>
