.wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  transition: display 300ms ease allow-discrete;
  &.show {
    display: flex;
  }
  .info-modal {
    display: none;
    scale: 0;
    transition: scale 0.3s ease-in-out, display 0.3s ease allow-discrete;

    &.show {
      display: block;
      scale: 1;

      @starting-style {
        scale: 0;
      }
    }
  }
}