<div class="flex items-center gap-4 w-full px-6">
  <div
    [routerLink]="'/home'"
    class="w-6 h-6 rounded-full centered border-2 border-[#4B77D1]"
  >
    <img src="../../../assets/svgs/arrow-back.svg" alt="back-arrow" />
  </div>
  <h2 class="text-2xl font-bold">
    {{ nameOfWeek }} {{ day }} de {{ monthName }} de {{ year }}
  </h2>
</div>

<form
  [formGroup]="detailForm"
  (ngSubmit)="onSaveChanges()"
  class="w-full px-6 py-10"
>
  <ul class="flex flex-col gap-4 items-start">
    @for (task of dayDetail()?.task | keyvalue; track $index) {
    <li class="flex justify-between items-center w-full">
      <div class="rounded-full w-8 h-8">
        @if (detailForm.get(task.key)?.value) {
        <img
          class="rounded-full w-full h-full"
          src="../../../assets/svgs/check_circle.svg"
          alt="green-check"
        />
        } @else {
        <div
          class="rounded-full w-full h-full bg-white border-2 border-gray-400"
        ></div>
        }
      </div>
      <span>{{ task.key }}</span>
      <button
        type="button"
        (click)="onToggleCheck(task.key)"
        class="rounded-3xl p-4 cursor-pointer bg-blue-400 text-white text-xs min-w-[168px]"
      >
        {{
          detailForm.get(task.key)?.value
            ? "Desmarcar"
            : "Marcar como completado"
        }}
      </button>
    </li>
    }
  </ul>

  <button
    type="submit"
    class="mt-12 w-full rounded-3xl p-4 cursor-pointer bg-green-400 text-white text-2xl"
  >
    Guardar cambios
  </button>
</form>
